.game-container--flex {
}

.purple-balloon {
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
    height: 3rem;
    margin: 0.1rem;
    padding: 1rem;
    background-color: purple;
}

.dragon-ball{
    width: 1rem;
    height: 1rem;
    margin: 0.1rem;
}